.idea
cache/
app/config/main-sj.php
/httpdocs/tinypulse-screen/images/*
/public/uploads/thumbs/*
/public/uploads/*.png
/public/uploads/*.jpg
/public/uploads/*.gif
vendor/
.env
/app/config/users.txt
composer.lock
public/playlist.json