html,
body {
  overflow-x: hidden;
}
body {
  padding: 0;
  min-height: 400px;
}
.hidden{
  display: none;
}
.tvLogin{
  width:300px;
  margin: 10% auto 0;
}
.tvLogo {
  text-align: center;
  margin-bottom: 10px;
}

.content{
  width:80%;
  margin: 0 auto;
  position: relative;
}
.userLogin {
  position: absolute;
  right: 15px;
  top: -15px;
}
.sjtv{
  font-size: 33px;
  margin-right: 6px;
}

.playlist{
  margin-top: 10px;
}
.playlistOptions {
  float: right;
  margin-right: 15px;
}


.durationInput{
  width: 50px;
}
.settings{
  position: absolute;
  top: 0;
  background: rgba(255, 255, 255, 0.92);
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: 3px 10px;
  overflow-y: scroll;
}
.icons{
  position: absolute;
  top: 0;
  right:0;
  z-index: 101;
}
.icons a{
  display: block;
  background: #f2f2f2;
  font-size: 21px;
  padding: 3px 7px;
  margin-bottom: 3px;
  box-shadow: -2px 1px 5px -1px rgba(0,0,0,0.75);
}
.icons a:active{
  box-shadow: none;
}

.listItem{
  overflow: hidden;
  height: 180px;
  margin-bottom: 20px;
  border: 1px solid #c0c0c0;
  position: relative;
  box-shadow: -2px 1px 8px -3px rgba(0,0,0,0.35)
}
.listItem img{
  width: 100%;
}
.newImageDurationDiv {
  float: right;
  margin-top: -25px;
}

.timepicker {
  width: 92px;
  background-image: url(/img/access-time-128.png);
  background-size: 22%;
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 1.5px;
  background-color: #fff;
  padding-left: .7em;
  font-size: 14px;
  display: inline;
  border-radius: 0;
  height: 26px;
}
.timepicker:hover {
  cursor: pointer;
}
.item-time {
  margin: 10px auto;
}
input.datepicker {
  width: 86px;
  height: 26px;
  display: inline;
  border-radius: 0;

}